@tailwind base;
@tailwind components;
@tailwind utilities;

table td {
  @apply border p-2;
}

a {
  @apply underline text-blue-500;
}

.header-nav li:not(:last-child):after {
  content: "|";
  @apply mx-3;
}

.form-input {
  @apply focus:ring-indigo-500 focus:border-indigo-500 block w-full px-2 py-1 border border-gray-300 rounded-md;
}
